* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; }

/*mobile*/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #D3DEDC; }
  .header__logo {
    width: 12%; }
  .header__title {
    width: 50%; }

.section {
  background-color: #FCF9C6; }

/*Tablet*/
/*Desktop*/
